.navbar-text{
    position: relative;
    left: 550px;
    margin-right: 50px;
    font-family: cursive;
    font-size: 25px;
}

.navbar-brand{
font-family: cursive;
font-size: 40px;
font-weight: bolder;
}